.hero {
    overflow: hidden;
    background-color: wheat;
    &__container {
        position: relative;
        height: 100%;
    }
    &__bg {
        width: 1920px;
        position: absolute;
        display: block;
    }
    &__title {
        right: 0;
        left: 0;
        @include centered(y);
    }
    &__user {
        @include centered();
        text-align: center;
    }
    &__scroll-button {
        bottom: 50px;
        @include centered(x);
    }
    &__socials{
    .socials__item {
        &:not(:last-child) {
            margin-right:30px;
        }
    }
    }
}
