- var menu = ['Мои работы', 'Обо мне', 'Блог', 'Авторизация']
-
	var socials =[
		{
			socialName:'vk'
		},{
			socialName:'github'
		},{
			socialName:'in'
		}
	]
-
	var frontend = [
		{
			skillTitle:'Html5',
			skillPersent:'20'
		},{
			skillTitle:'CSS3',
			skillPersent:'80'
		},{
			skillTitle:'JavaScript & jQuery',
			skillPersent:'65'
		}
	]
-
	var backend = [
		{
			skillTitle:'PHP',
			skillPersent:'20'
		},{
			skillTitle:'mySQL',
			skillPersent:'80'
		},{
			skillTitle:'Node.js & npm',
			skillPersent:'100'
		},{
			skillTitle:'Mongo.db',
			skillPersent:'55'
		}
	]
-
	var workflow = [
		{
			skillTitle:'Git',
			skillPersent:'20'
		},{
			skillTitle:'Gulp',
			skillPersent:'80'
		},{
			skillTitle:'Bower',
			skillPersent:'100'
		}
	]
-
	var contacts = [
		{
			contactName:'skype',
			contactValue:'skype_kdn'
		},{
			contactName:'mail',
			contactValue:'astahov@gmail.com'
		},{
			contactName:'phone',
			contactValue:'+7 931 200 93 24'
		},{
			contactName:'address',
			contactValue:'г. Новосибирск ул. Инская, д. 5'
		}
	]