extends ../_template

block variables
	- var title = ['login','login','login']

block content
	main.main
		img.main__bg(src="./assets/img/bg/header-bg.png")
		.main__login
			.login
				a(href="#").login__title Авторизация
		.main__card.main__card_active
			.card-menu
				.card-menu__wrapper
					.card-menu__user
						.user-login
							.user-login__pic
								img(src="./assets/img/content/hero-photo.png").user-login__pic-img
							.user-login__description
								.user-login__name.user-login__name_index Владимир Астахов
								.user-login__info.user-login__info_index Личный сайт вебразработчика
				.card-menu__socials
					+socials('default',socials)
				.card-menu__nav
				nav.main-nav
					ul.main-nav__list
						li.main-nav__item.menu-nav__item
							a(href="portfolio.html", class=`main-nav__link`) Мои работы
						li.main-nav__item.menu-nav__item
							a(href="index.html", class=`main-nav__link`) Обо мне
						li.main-nav__item.menu-nav__item
							a(href="blog.html", class=`main-nav__link`) Блог



